@page "/logout"


<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-8">
            <!--Portal image goes here-->
            <div>
                <img style="width:150px" src="../images/portal logo.png" />
            </div>
            <!-- Adjust col size for the title width -->
            <h1 class=" fw-bold">Thank you!</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div align="center">
            <!-- Adjust col size for input width -->
            @* <button  class="btn btn-primary col-1">Login</button> *@
            <a href="/login" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
        </div>
    </div>
</div>

@code {
}
