@page "/security" 

<PageTitle>Security Devices</PageTitle>

<div class="main-content">
    <div class="header">
        <div class="logo-container">
            <img src="images/portal logo.png" alt="Portal Logo" class="portal-logo">
        </div>
    </div>

<h1>Security</h1>

</div>

<Device />

@code {

}

<style>
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portal-logo {
        width: 150px;
        height: auto;
    }
</style>