@page "/my-account"
<PageTitle>My Account</PageTitle>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-8">
            <div>
                <!--Portal logo-->
                <img style="width:90px" src="../images/portal logo.png" />
            </div>
        </div>
    </div>
</div>

<!--My account heading and logo-->
<div class="container text-center">
    <div>
        <img style="width:115px" class="headerStyling" src="../images/account image.png" />
        <h1 class="fw-bold headerStyling" style="font-size:50px">My Account</h1>
    </div>
</div>

<div>
    <p class="des"> Username:</p>
    <h4 class="dataBorder">Username</h4>
    <p class="des">Password:</p>
    <h4 class="dataBorder">Password</h4>
</div>

<a href="#"> Edit Account</a>
<a href="#" style="color:red"> Delete Account</a>

